*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 1rem;
}
.card{
    width: 400px;
    background-color: yellow;
    border: 1px solid brown;
    border: 0.75rem;
    border-radius: 075rem;
    padding: 1rem;
    margin: 1rem auto;
}